doctype html
html(lang="en")
  head
    //- link(rel="shortcut icon", href="./images/favicon.gif?")
    title Webpack app
    //- link(rel="stylesheet", href='./styles/index.css')
    //- script(src="/bower_components/modernizr/modernizr.js")
  body
    block content
    //- script(src="/scripts/bundle.js")
