doctype html
html(lang="en")
  head
    //- link(rel="shortcut icon", href="./images/favicon.gif?")
    title Webpack app Jade
    link(rel="stylesheet" href='/dist/index.css')

  body
    block content
