
:root {
  --mainColor: #1D1746;
}

body {
  size: 100%;
}
html {
  size: 100%;
  /*background: var(--mainColor);*/
  min-width: 340px;
}

#root {
  position: relative;
}

@custom-selector :--button button, .button;

:local(.Wrapper) {
  margin: 0 auto;
}

:local(.FlexWrapper) {
  size: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 600px;
}
