@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
:root {
  --mainColor: #1D1746;
}

body, html {
  font-family: 'Open Sans', sans-serif;
  size: 100%;
  /*background: var(--mainColor);*/
  background: #000023;
  min-width: 320px;
  margin: 0;
  padding: 0;
}

html {
  color: #FFFFD3;
  font-size: 100%;
}

#root {
  position: relative;
}

@custom-selector :--button button, .button;

:local(.Wrapper) {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 2em;
}

:local(.FlexWrapper) {
  size: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  min-height: 600px;
}

button {
  font-size: 1em;
  border: none;
  display: inline-block;
  padding: 1em;
  background: green;
  color: #fff;
  cursor: pointer;
  transition: all .5s ease;
  outline: none;
  margin: 1em 0;
  &:hover {
    background: blue;
  }
  &:active {
    background: red;
  }
}

input[type="text"] {
  border: none;
  display: block;
  size: 100% 4em;
}
